<div class="uk-width-1-1 uk-padding-large-vertical uk-padding-horizontal uk-border-bottom">
  <h2>{% t .title %}</h2>
  <div class="uk-margin-bottom sk-text-link">
    {% t .subtitle %}
  </div>
  <a href="/training_events" class="uk-button uk-button-primary">
    {% t .button %}
  </a>
</div>
